.back_button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.content{
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.basic, .details{
    flex-basis: 48%;
    border-radius: 5%;
}

.content .basic .name{
    padding: 0;
    margin: .625rem;
    color: #fff;
}

.content .basic .types{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: .625rem;
    gap: 1rem;
    list-style: none;
    color: #fff;

}
.content .basic .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.content .basic .img{
    max-width: 100%;
    height: 150px;
}

.content .details{
    background-color: #dddfe1;
    margin: 0;
}

.content .details .menu{
    display: flex;
}

.content .details .menu_option{
    margin: 1rem;
    cursor: pointer;
    background-color: #fff;
    padding: .4rem;
    border-radius: 35%;
}

.content .details .menu_option:hover{
    background-color: rebeccapurple;
    color: #fff;
}

.content .details .menu_items{
    display: none;
}

.content .details .menu_items.active{
    display: block;

}

.content .details .menu_items ol{
    list-style: none;
}

